@import url('https://fonts.googleapis.com/css?family=Montserrat|Nixie+One');

body {
	font-family: "Montserrat", sans-serif;
	font-size: 1.6rem;
	line-height: 1.2;
	color: #404040;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}