.contact {
	background-color: #000A61;
	width: 100vw;
	color: #c8c7f5;
	padding: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;

	& > *:not(:last-child) {
		margin-right: 5rem;
		@media only screen and (max-width: $bp-tab-port) {
			margin: 0;
			margin-bottom: 2rem;
		}
	}

	@media only screen and (max-width: $bp-tab-port) {
		flex-direction: column;
	}
}

.contact-way {
	display: flex;
	align-items: center;

	&__img {
		width: 3rem;
		margin-right: 1rem;
	}

	&__link {
		text-decoration: none;
		color: inherit;
	}
}