.skills {
	width: 100vw;
	background-color: #c8c7f5;
	background-image: url(img/code-bg-2.png);
	display: flex;
	flex-direction: column;
	align-items: center;

	&__heading {
		text-transform: uppercase;
		font-family: "Nixie One", cursive;
		font-size: 8rem;
		margin-top: 7.5rem;
		// white-space: nowrap;
		color: #000A61;

		@media only screen and (max-width: $bp-tab-port) { font-size: 6rem; }
		@media only screen and (max-width: $bp-phone) { font-size: 4rem; }
	}

	&__box {
		margin-top: 7.5rem;
		display: flex;
		width: 85vw;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		& > * { margin-bottom: 2rem; }
		
		& > *:not(:last-child) {
			margin-right: 2rem;
			@media only screen and (max-width: $bp-tab-port) {
				margin: 0;
				margin-bottom: 2rem;
			}
		}

		@media only screen and (max-width: $bp-tab-land) {
			width: 100%;
		}
	}

	&__card {
		background-color: #c8c7f5;
		box-shadow: 0 1rem 4rem #000A61;
		border-radius: 3px;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		& > *:not(:last-child) { margin-bottom: 2rem; }

		@media only screen and (max-width: $bp-phone) {
			width: 100%;
		}
	}

	&__title {
		text-transform: uppercase;
	}

	&__category-icon {
		fill: #000A61;
		width: 5rem;
		height: 5rem;
	}

	&__hr-line {
		height: 2px;
		background-color: #000A61;
		align-self: stretch;
	}

	&__skills {
		display: flex;
		align-items: center;
    	justify-content: center;
		flex-wrap: wrap;
		& > *:not(:last-child) { margin-right: 1rem; }
	}

	&__skill {
		display: flex;
		flex-direction: column;
		align-items: center;

		& > *:not(:last-child) { margin-bottom: .5rem; }
	}

	&__skill-icon {
		height: 4rem;

		&--fix { width: 4rem; }
	}

	&__skill-title {
		font-size: 1.2rem;
	}
}